#intro {
    text-align: center;
    font-family: 'Alex Brush', cursive;
    font-size: 50px;
}

#note {
    text-align: Left;
    font-family: 'Kalam', cursive;
    font-size: 30px;
}

.poem {
    text-align: center;
    font-family: 'Pinyon Script', cursive;
    font-size: 42px;
    background-color: #ff003c;
}

body {
    background-color: #E63950;
}

.container {
  text-align: center;
}

#complement {
    font-family: 'Alex Brush', cursive;
    background-color: #ff003c;
    font-size: 30px;
    border-radius: 25px;
    border: solid 1px white;
}

#complement:hover {
    background-color: #E63950;
    color: white;
}

#output {
    text-align: center;
    font-family: 'Alex Brush', cursive;
    font-size: 50px;
    background-color: #ff003c;
}

#hearts {
    position: absolute; 
    width: 120px; 
    top: 20px;
    left: 20px;
    z-index: -1;
}

#hearts2 {
    position: absolute; 
    width: 120px; 
    top: 20px;
    right: 20px;
    z-index: -1;
    transform: scaleX(-1);
}

.heart {
    height: 100px;
    width: auto;
}

#gameCanvas {
    text-align: center;
}

#gameOverMessage {
  position: relative;
  z-index: 10;
}
