#intro {
    text-align: center;
    font-family: 'Alex Brush', cursive;
    font-size: 50px;
}

#note {
    text-align: Left;
    font-family: 'Kalam', cursive;
    font-size: 30px;
}

.poem {
    text-align: center;
    font-family: 'Pinyon Script', cursive;
    font-size: 42px;
}

body {
    background-color: #E63950;
}

.container {
  text-align: center;
}

#complement {
    font-family: 'Alex Brush', cursive;
    background-color: #ff003c;
    font-size: 30px;
    border-radius: 25px;
    border: solid 1px white;
}

#complement:hover {
    background-color: #E63950;
    color: white;
}

#output {
    text-align: center;
    font-family: 'Alex Brush', cursive;
    font-size: 50px;
}